#content {
  display: grid;
  grid-template-rows: 3.2vh auto;
  row-gap: .5vh;
}

#forecast-hours, #forecast-days {
  row-gap: 1vh;
}

.icon-boxes {
  padding: .3em;
}

#title-col {
  background-color: rgb(93, 142, 156);
}

#title-row {
  grid-column: 2/3;
  column-gap: .3vw;
  color: rgb(3, 7, 7);
  font-weight: bold;
  font-size: 16px;
}

#title-col,
#main-content {
  display: grid;
  grid-template-columns: 9.5vw 84vw;
  column-gap: .5vw;
}
