#container {
  height: 100vh;
  width: 100vw;
  padding: 10vh 2.2vw;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#main,
#title-col,
.displayline,
.icon-boxes {
  border-radius: 5px;
}

#main,
.displayline {
  width: 94vw;
}
