.day-box {
  display: grid;
  grid-template-rows: 1fr 3fr;
  border: 2px dotted green;
  background: rgb(179, 102, 136);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.forecast-date {
  font-size: 1em;
  font-weight: bold;
}

.forecast-text {
  font-weight: bolder;
  justify-self: center;
  align-self: center;
}
