.forecast-row {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.hour-box {
  background: rgba(93, 142, 156, 0.4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
