#header {
  display: flex;
}

#header > * {
  padding-bottom: 2vh;
  width: fit-content;
}

#city {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 2vw;

  justify-content: left;
  align-content: center;

  max-width: 80vw;
  overflow-x: hidden;
  text-wrap: nowrap;
}

#city-loc > * {
  margin: unset;
}

#city-loc > :first-child {
  margin-left: 5px;
}

#city-loc > :last-child {
  font-size: 6em;
}

#link-cont {
  display: flex;
  flex-direction: column-reverse;
  padding: 4vh;
}

#form-link {
  height: 4em;
  cursor: pointer;
}

#curr-forecast {
  display: grid;
  grid-template-rows: repeat(3, 3vh);
  justify-self: right;
}

.cityfore-data {
  font-weight: bold;
  font-size: .8em;
  margin-top: unset;
}
