@import "./style/container.css";
@import "./style/main.css";
@import "./style/header.css";
@import "./style/content.css";
@import "./style/forecast_days.css";
@import "./style/forecast_hours.css";
@import "./style/form.css";

body {
  background-color: rgb(218, 216, 208);
}

/* limit hour columns to 12 */
@media screen and (max-width: 1500px) {
  .hour-box:not(:nth-child(2n)),
  .hour-titles:not(:nth-child(2n)) {
    display: none;
  }

  #title-row,
  .forecast-row {
    grid-template-columns: repeat(12, 1fr);
  }

  #title-col,
  #main-content {
    grid-template-columns: 13.5vw 80vw;
  }

  form {
    height: 60vh;
  }

  input:is([type = 'submit']){
    width: 8vw;
  }

}

/* limit hour columns to 8 */
@media screen and (max-width: 1000px) {
  #city-loc {
    max-width: 70vw;
    column-gap: 4vw;
    overflow-x: hidden;
    text-wrap: nowrap;
  }

  .hour-box:nth-child(3n),
  .hour-titles:nth-child(3n) {
    display: none;
  }

  #title-row,
  .forecast-row {
    grid-template-columns: repeat(8, 1fr);
  }

  #title-col,
  #main-content {
    grid-template-columns: 18.5vw 75vw;
  }

  form {
    width: 60vw;
  }

  #form-header {
    font-size: 2.8rem;
  }

  input:not([type = 'submit']) {
    width: 35vw;
  }

  input:is([type = 'submit']){
    height: 3vh;
    width: 12vw;
  }
}

/* limit hour columns to 4 */
@media screen and (max-width: 650px) {
  #city * {
    font-size: .7rem;
  }

  #city-loc {
    max-width: 60vw;
    padding-bottom: 1vh;
  }

  #curr-forecast {
    display: none;
  }

  #header > * {
    padding-bottom: unset;
  }

  #link-cont {
    padding: unset;
  }

  #form-link {
    height: 2.5em;
    padding-bottom: 3vh;
  }

  .forecast-date {
    font-size: .7em;
  }

  .hour-box:nth-child(4n),
  .hour-titles:nth-child(4n) {
    display: none;
  }

  #title-row,
  .forecast-row {
    grid-template-columns: repeat(4, 1fr);
  }

  #title-col,
  #main-content {
    grid-template-columns: 27.5vw 66vw;
  }

  form {
    width: 60vw;
    border: 2px solid darkgreen;
  }

  #form-header {
    font-size: 1.8rem;
  }

  input:not([type = 'submit']) {
    width: 35vw;
  }

  input:is([type = 'submit']){
    width: 20vw;
  }
}
